/* Resetting default browser styles */
body, h1, h2, p, nav, header, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    color: white;
}

.container {
    background-color: darkgreen;
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: green;
    padding: 10px;
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

